{{ partial "header.html" . }}

    <div id="main">
      <div id="content">
        <div>
          <article role="article">
            <header>
              <h1>Category: {{.Title }}</h1>
            </header>
        
        {{$.Scratch.Set "year" 0}}
        <div id="blog-archives" class="category">
          
          {{ range .Data.Pages }}
          {{if ne (dateFormat "2006"  .Date) ($.Scratch.Get "year")}}
            {{$.Scratch.Set "year" (dateFormat "2006"  .Date)}}
            <h2> {{$.Scratch.Get "year"}} </h2>
          {{end}}

                {{.Render "archive_post"}}

            {{ end }}
        </div>
      </article>
      </div>
        {{ partial "aside.html" . }}
      </div>

    </div>

{{ partial "footer.html" . }}